<script id="elogio-clipboard-template" type="x-tmpl-mustache">
    <div id="clipboard-item">
        <div>
            {{#imageObj.uri}}
             <img src="{{imageObj.uri}}" />
            {{/imageObj.uri}}
        </div>
        <p>
        {{#imageObj.locatorLink}}
                <a href="{{imageObj.locatorLink}}" property="http://purl.org/dc/elements/1.1/title"> {{#imageObj.titleLabel}} {{imageObj.titleLabel}} {{/imageObj.titleLabel}} {{^imageObj.titleLabel}} {{imageObj.locatorLink}} {{/imageObj.titleLabel}} </a>
        {{/imageObj.locatorLink}}
         {{#imageObj.copyrightLink}}
            by
             <a href="{{imageObj.copyrightLink}}" property="http://creativecommons.org/ns#attributionName" rel="http://creativecommons.org/ns#attributionURL"> {{#imageObj.copyrightLabel}} {{imageObj.copyrightLabel}} {{/imageObj.copyrightLabel}} {{^imageObj.copyrightLabel}} {{imageObj.copyrightLink}} {{/imageObj.copyrightLabel}} </a>
        {{/imageObj.copyrightLink}}


        {{^imageObj.copyrightLink}}
             {{#imageObj.creatorLink}}
                by
                    <a href="{{imageObj.creatorLink}}" property="http://creativecommons.org/ns#attributionName" rel="http://creativecommons.org/ns#attributionURL"> {{#imageObj.creatorLabel}}  {{imageObj.creatorLabel}} {{/imageObj.creatorLabel}}  {{^imageObj.creatorLabel}} {{imageObj.creatorLink}} {{/imageObj.creatorLabel}} </a>
            {{/imageObj.creatorLink}}

            {{^imageObj.creatorLink}}
                 {{#imageObj.creatorLabel}}
                     by <span property="http://creativecommons.org/ns#attributionName">{{imageObj.creatorLabel}}</span>
                 {{/imageObj.creatorLabel}}
            {{/imageObj.creatorLink}}
        {{/imageObj.copyrightLink}}
        {{#imageObj.licenseLink}}
             <a href="{{imageObj.licenseLink}}" rel="http://www.w3.org/1999/xhtml/vocab#license"> {{#imageObj.licenseLabel}} {{imageObj.licenseLabel}} {{/imageObj.licenseLabel}} {{^imageObj.licenseLabel}} {{imageObj.licenseLink}} {{/imageObj.licenseLabel}} </a>
        {{/imageObj.licenseLink}}
        {{^imageObj.licenseLink}}
             {{#imageObj.licenseLabel}}
                 <span property="http://www.w3.org/1999/xhtml/vocab#license">{{imageObj.licenseLabel}}</span>
             {{/imageObj.licenseLabel}}
        {{/imageObj.licenseLink}}
        </p>
    </div>


</script>