<div id="elogio-feedback-form" class="elogio-feedback elogio-feedback-form">
    <div id="elogio-legend" class="elogio-legend">Hello! We'd be happy to connect.</div>
    <div id="elogio-feedback-messages" class="elogio-feedback-messages">
        <div id="elogio-feedback-success" class="elogio-feedback-success">At here will be message from doorbell</div>
        <div id="elogio-feedback-error" class="elogio-feedback-error">At here will be error message from doorbell</div>
    </div>
    <textarea placeholder="Send us your comments, thoughts and ideas." id="elogio-feedback-textarea"
              class="elogio-feedback-textarea"></textarea>

    <div>
        <input type="email" id="elogio-feedback-email" class="elogio-feedback-email" placeholder="Your email address"
               value="">
    </div>
    <button id="elogio-feedback-submit-button" class="elogio-feedback-submit-button">Send</button>
</div>