<div id="elogio-feedback-form" class="elogio-feedback">
    <div id="elogio-legend">Hello! We'd be happy to connect.</div>
    <div id="elogio-feedback-success">Feeback sent, thank you!</div>
    <div id="elogio-feedback-error"></div>
    <textarea placeholder="Send us your comments, thoughts and ideas." id="elogio-feedback-textarea"></textarea>

    <div>
        <input type="email" id="elogio-feedback-email" class="form-control" placeholder="Your email address" value="">
    </div>
    <button id="elogio-feedback-submit-button">Send</button>
    <div><a href="https://doorbell.io" target="_blank" id="elogio-feedback-powered-by">Powered by Doorbell.io</a></div>
</div>