<script id="elogio-image-template" type="x-tmpl-mustache">
    <div class="image-card" id="{{imageObj.uuid}}" >
        <div class="thumbnail-image">
            <img src="{{imageObj.uri}}" class="picture elogio-img"/>
        </div>
    <div class="several-matches" style="display:none">
                <i><div class="more-matches">{{locale.blockhash.moreMatchesInfo}}</div></i>
            <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-info previous">{{locale.button.previous}}</button>
                    <span class="btn"><i class="current-match-index"></i> / <i class="count-matches"></i></span>
                    <button type="button" class="btn btn-info next">{{locale.button.next}}</button>
            </div>
    </div>
    <div class="elogio-image-details" style="display:none">
        <div class="image-found" style="display:none">
            <div class="pull-left">
                <div class="btn-group">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                    {{locale.dropDownMenuLabel}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a target="_blank" href="" class='elogio-locatorlink'>{{locale.sourceButtonLabel}}</a></li>
                        <li><a target="_blank" href="" class='elogio-license-link'>{{locale.licenseButtonLabel}}</a></li>
                        <li><a class='elogio-report-work'>{{locale.reportButtonLabel}}</a></li>
                        <li><a class="elogio-clipboard-html">{{locale.copyHtmlButtonLabel}}</a></li>
                        <li><a class="elogio-clipboard-json">{{locale.copyJsonButtonLabel}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="pull-right">
                <img class="elogio-gravatar"/>
            </div>
            <div class="clearfix"></div>
            <p>
                <strong class="elogio-annotations-title"></strong><br />
                <i><span class="elogio-annotations-by"></span></i>
            </p>
            <p>
                <span class="label label-info elogio-license"></span>
            </p>
        </div>
        <div class="image-not-found" style="display:none">
                <div class="alert alert-warning">{{locale.noLookup}}</div>
                <button class="btn btn-primary query-button">{{locale.queryButtonLabel}}</button>
        </div>
    </div>
    <div class="message-area" style="display:none"></div>
    <div id="elogio-not-found" class="alert error-area alert-danger" style="display:none"></div>
    <div class="loading" style="display:none"></div>
    <div>
        <a class="btn btn-primary elogio-hash" style="display:none" target="_blank">{{locale.openImgInNewTabLabel}}</a>
    </div>
</div>


</script>