<script id="elogio-image-template" type="x-tmpl-mustache">
    <div class="image-card" id="{{imageObj.uuid}}" >
        <div class="thumbnail-image">
            <img src="{{imageObj.uri}}" class="picture elogio-img"/>
        </div>
    <div class="elogio-image-details" style="display:none">
        <div class="image-found" style="display:none">

            <div class="match-placeholder">
            </div>
            <div class="details-placeholder">
            </div>
         </div>
            <div class="image-not-found" style="display:none">
                <div class="alert alert-warning">{{locale.noLookup}}</div>
                <button class="btn btn-primary query-button">
                    <span class="elogio-query-message">{{locale.queryButtonLabel}}</span>
                    <img class="query-loading" src="../img/process-indicator.gif"/>
                </button>
            </div>
    </div>
    <div class="message-area" style="display:none"></div>
    <div class="alert error-area alert-danger elogio-not-found" style="display:none"></div>
    <div class="loading" style="display:none"></div>
    <div>
        <a class="btn btn-primary elogio-hash" style="display:none" target="_blank">{{locale.openImgInNewTabLabel}}</a>
    </div>
</div>
</script>