<script id="elogio-single-template" type="x-tmpl-mustache">
<div class="btn-group single-match">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
        {{loc.dropDownMenuLabel}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" elogio-actions>
        <li><a target="_blank" href="" class='elogio-locatorlink'>{{loc.sourceButtonLabel}}</a></li>
        <li><a target="_blank" href="" class='elogio-license-link'>{{loc.licenseButtonLabel}}</a></li>
        <li><a class='elogio-report-work'>{{locale.reportButtonLabel}}</a></li>
        <li><a class="elogio-clipboard-html">{{loc.copyHtmlButtonLabel}}</a></li>
        <li><a class="elogio-clipboard-json">{{loc.copyJsonButtonLabel}}</a></li>
    </ul>
</div>


</script>